.body{
 padding: 0px;
 margin: 0px;
}
.eachAuto{
  border-bottom: 2px solid grey;
}

.frame{
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.edit .delete{
  display: flex;
  align-items: flex-start;
}
.edit a{
  text-decoration: none;
  color: green;
} 

.delete button{
  text-decoration: none;
  color: red;
}

.searchBar{
  display: flex;
  justify-content: center;
}
.searchInput{
  width: 300px;
  height: 30px;
  font-size: 18px;
  padding-left: 10px;
}
.searchBtn{
  width: 100px;
  height: 35px;
  background: rgba(12,121,32,.5);
  font-size: 18px;
  border: none;
}