.body{
 padding: 0px;
 margin: 0px;
}
.eachAuto{
  border-bottom: 2px solid grey;
}

.frame{
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.edit .delete{
  display: flex;
  align-items: flex-start;
}
.edit a{
  text-decoration: none;
  color: green;
} 

.delete button{
  text-decoration: none;
  color: red;
}